$week_box_bg : #3883a3;
$day_font: #4f4f4f;
$day_bg: #ebebeb;
$today_bg: #fff;
$cucrent_bg: #eee;
$year_month_bg: #ebebeb;
$year_month: #fff;

.cld_grid {
  margin:0;
  padding:0;
  font-size:1em;
  font-family: Inconsolata, Monaco, 'Andale Mono', Courier;
}

.cld_grid {
  margin:auto;
}
.cld_week_box {
  background-color: $week_box_bg;
  width:100%;
}
.header-day {
  float: left;
  padding: 10px 0px;
  width: 14.2857%;
  text-align: center;
  color: white;
  font-family:'微软雅黑'
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.day {
  float: left;
  width: 14.2857%;
  height: 13px;
  padding: 10px 0;
  text-align: center;
  color: $day_font;
  background-color: $day_bg;
  border-bottom: 2px solid white;
  background-image: url('http://kylestetz.github.io/CLNDR/css/./triangle.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;

  .last-month, .next-month {
    opacity: 0.3;
  }
  .today{
    background: $today_bg;
  }
}

.cld_year_month{
  padding: 10px;
  background-color: $year_month_bg;
  text-align: center;
  color: $year_month;
  letter-spacing: 1px;
  font-size:14px;

  div {
    cursor:pointer;
  }
}